/********** Base styles **********/
* {
	box-sizing: border-box;
	font-family: Helvetica;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	margin-top: 20px;
	margin-bottom: 40px;
}

p {
	margin: 10px;
}

.main {
	border: 1px solid black;
	background-color: #808080;
	height: 175px;
	margin: 10px;
	color: black;
	overflow: hidden;
}

.par {
	clear: right;
}

.title {
	border: 1px solid black;
	width: 100px;
	text-align: center;
	color: white;
	float: right;
	margin-bottom: 10px;
	margin-right: -1px;
	margin-top: -1px;
	font-size: 1.25em;
}

.myred1{
	background-color: #f02020;
}
.myred2{
	background-color: #c02020;
}
.myred3{
	background-color: #902020;
}

/********** Desktop only **********/
@media (min-width: 992px) {
  .col-desktop-4 {
    float: left;
  }
  .col-desktop-4 {
    width: 33.33%;
  }
 }

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-6, .col-tablet-12 {
    float: left;
  }
  .col-tablet-6 {
    width: 50%;
  }
  .col-tablet-12 {
    width: 100%;
  }
 }

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-mobile-12 {
    float: left;
  }
  .col-mobile-12 {
    width: 100%;
  }
}
